<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
</head>
<body>
<table border="1" cellpadding="10">
    <thead>
    <tr>User</tr>
    </thead>
    <tbody>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Name</th>
        <th>Email</th>
    </tr>

    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getPassword()}"></td>
    <td th:password="${user.getPassword()}" th:text="'********'"></td>
    <td th:text="${user.getRoles()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getEmail()}"></td>

    </tbody>
</table>
<br/>

<p>
<form method="POST" th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>
</p>
</body>
</html>